<div class="container">
  <!-- <div class="custom background" [ngStyle]="background"></div> -->
  <div class="custom backdrop" appBackground [path]="movie.backdrop_path"></div>
  <div class="custom content">
    <div class="poster"
      appPoster
      [path]="movie.poster_path"
      [style]="posterStyle"
      [imgStyle]="posterImgStyle"
    >
    </div>
    <div class="summary">
      <section>
        <h2>
          <a [routerLink]="['/movie', movie.id, movie.title | movieRouterlink]">{{movie.title}}</a>
          <span> ({{getReleaseYear()}})</span>
        </h2>
      </section>
      <app-ratings [ratings]="ratings"></app-ratings>
      <section>
        <h3>Overview</h3>
        <p>{{movie.overview}}</p>
      </section>
    </div>
  </div>
  <div class="details">
    <h3>Top Cast</h3>
    <div class="cast" appAutoResize>
      <app-cast
        *ngFor="let cast of movie.credits.cast.slice(0, 6)"
        [cast]="cast"
      ></app-cast>
    </div>
  </div>
</div>