.custom {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100vw;
  height: 530px;
}

.backdrop {
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  filter: grayscale(100%);
}

.content {
  display: grid;
  grid-template-columns: calc(50vw - 500px) 300px 700px;
  grid-template-rows: auto;
}

.poster {
  grid-column: 2;
  display: flex;
  align-items: center;
  min-width: 300px;
  height: 100%;
  box-sizing: border-box;
}

.detail {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
}

.rating {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rating li {
  float: left;
  margin-left: 5rem;
}

.rating li:first-of-type {
  margin-left: 0;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  font-size: 2em;
  font-weight: 900;
}

span {
  opacity: 0.5;
  font-size: 0.7em;
  font-weight: 100;
}

p {
  font-size: 0.85em;
  box-sizing: border-box;
}

