<div class="custom background" [ngStyle]="background"></div>
<div class="custom backdrop" [ngStyle]="backdrop"></div>
<div class="custom content">
  <div class="poster">
    <img *ngIf="poster" [src]="poster" alt="" width="100%" height="auto"/>
  </div>
  <div class="detail">
    <section>
      <h2>
        <a [href]="'/movie/' + movie.id + '/' + urlTitle">{{movie.title}}</a>
        <span> ({{getReleaseYear()}})</span>
      </h2>
    </section>
    <ul class="rating">
      <li>
        <canvas 
          appCanvasCircleRating
          [rating]="movie.vote_average"
          [rgb]="'98, 204, 130'"
          width="120px"
          height="120px"
        >
        </canvas>
        <div>TMDB</div>
      </li>
      <li>
        <canvas 
          appCanvasCircleRating
          [rating]="imdbRating"
          [rgb]="'237, 201, 35'"
          width="120px"
          height="120px"
        >
        </canvas>
        <div>IMDB</div> 
      </li>
      <li>
        <canvas 
          appCanvasCircleRating
          [rating]="rottenTomatoesRating"
          [rgb]="'234, 27, 35'"          
          width="120px"
          height="120px"
        >
        </canvas>
        <div>Rotten<br/>Tomatoes</div> 
      </li>
      <li>
        <canvas 
          appCanvasCircleRating
          [rating]="doubanRating"
          [rgb]="'68, 139, 199'" 
          width="120px"
          height="120px"
        >
        </canvas>
        <div>DOUBAN</div>        
      </li>
    </ul>
    <section>
      <h3>Overview</h3>
      <p>{{movie.overview}}</p>
    </section>
  </div>
</div>