.search {
  display: flex;
  align-content: center;
}

.search input {
  font-size: 40px;
  outline: none;
  vertical-align: middle;
  line-height: 50px;
  width: 30vw;
  border: none;
  box-sizing: border-box;
}

.search input::placeholder {
  text-align: center;
  color: rgb(228,228,228);
}

.search button {
  font-size: inherit;
  color: rgb(52,73,94);
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 100;
}