.search {
  display: flex;
  align-content: center;
  border: 2px solid rgba(34, 34, 34, 0.8);
  border-radius: 5px;
}

.search input {
  font-size: 1em;
  outline: none;
  width: 30vw;
  height: 35px;
  padding: 0 10px;
  border: 0;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
}

.search button {
  width: 37px;
  height: 35px;
  border: 0;
  outline: none;
  border-radius: 0;
  background: rgba(34, 34, 34, 0.8);
  cursor: pointer;
  z-index: 100;
}