input {
  display: inline-block;
  font-size: 40px;
  width: 448.667px;
  outline: none;
  vertical-align: middle;
  line-height: 50px;
  border: none;
  box-sizing: content-box;
}

input::placeholder {
  text-align: center;
  color: rgb(228,228,228);
}

