p {
  margin: 5px;
  padding: 0;
}

.container {
  display: grid;
  width: 150px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-image {
  height: 225px;
}

.info {
  padding: 10px;
  font-size: 0.9em;
  line-height: 1.2em;
}

.name {
  font-weight: bold;
}

.character {
  font-size: 0.9em;
  color: rgb(11, 11, 11);
}
